*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #f0efeffb;
    width: 100%;
    max-width: 500px;
    margin: 150px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: #9a9797 0px 0px 10px;
}

h1{
    text-align: center;
}

h3{
    margin-bottom: 10px;
}

input{
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #ccc;
}   
.description{
    padding: 10px 10px 80px 10px ;
}
button{
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 18px;
}
    

button:hover{
    background-color: #0056b3;
}